/* Variables */
:root {
  --header-color: #c49494;
  --bg-color: #b9acac;
  --primary-color: #d1d1cf;
  --secondary-color: rgb(7, 7, 97);
  --third-color: rgb(201, 252, 201);
  --trid-bis-color: rgb(247, 247, 227);
  --bg-input-color: rgb(124, 124, 124);
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
  color: #751b57;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header */
header {
  background-color: var(--primary-color);
  /* padding: 2vh 0; */
}

/*HTML series*/
main {
  flex: 1; /* Hace que el main ocupe el espacio disponible */
  padding: 20px;
}
/*Fin HTML series*/

/* Containers */
.contenedor {
  flex: 1;
  padding: 20px;
}

.content {
  background: #c0b9b9;
  align-items: center;
}

/* Footer */
.footer {
  text-align: center;
  padding: 10px 0;
}

footer > nav {
  background-color: #ccc;
}

/* Paragraphs */
p {
  margin: 0;
  height: 90%;
  text-align: center;
  padding: 20px 2%;
}

/* Titles */
.titulo {
  padding: 16px;
}

.titulo a {
  text-decoration: none;
  color: #751b57;
}

.tituloContacto {
  padding: 30px 0;
}

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
}

h4 {
  padding: 16px;
}

/* Links */
a {
  font-family: 'Russo One', sans-serif;
  color: rgb(2, 5, 94);
}

/* Navigation */
nav {
  background: #c0b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li:first-child {
  margin-left: 5px; /* Corrige el margen izquierdo */
}

nav ul li:last-child {
  margin-right: 5px; /* Ajusta el margen derecho */
}

nav ul li a, nav > a {
  display: block; /* Elementos de lista como bloques */
  padding: 10px 20px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: background-color 0.3s;
}

nav ul li a:hover, nav > a:hover {
  background-color: var(--primary-color);
}

/* Variables */
:root {
  --primary-color: #d1d1cf;
  --secondary-color: rgb(7, 7, 97);
  --bg-input-color: rgb(124, 124, 124);
}

/* Botones */
.btn {
  font-family: 'Russo One', sans-serif;
  padding: 20px 40px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid; /* Ajustado para especificar el estilo de borde */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--bg-input-color);
  animation: pulse 0.5s infinite alternate;
}

.btn2 {
  padding: 10px 20px; /* Ajustado el padding */
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Animaciones */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Footer */
footer > a {
  font-family: Impact, sans-serif;
  color: rgb(139, 33, 104);
  text-align: center;
}

/* Introducción */
#intro {
  background-image: url(../img/sistemb.jpg);
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 2pc;
}

#intro h1 {
  text-shadow: 0 0 10px #000;
  font-family: 'Anton', sans-serif;
  color: rgb(255, 255, 255);
}

/* Sección */
section {
  text-align: center;
  padding: 60px 10%;
  font-size: 17px;
}

body > section > h1 {
  color: rgb(238, 137, 204);
  font-family: 'Russo One', sans-serif;
  font-size: 55px;
}

/* Nivel */
.level img {
  display: block;
  width: 500px;
  border: 5px double #af2f9a;
  margin: auto;
}

#imag1 {
  max-width: 100%; /* La imagen ocupará como máximo el ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

/* Formulario */
form {
  width: 510px;
}

/* Contenedor Flex */
#padreDePadres {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#padreDePadres div:first-child,
#padreDePadres div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  width: 100%;
}

/* Bloque */
.bloque {
  display: inline-block;
  padding: 10px 50px;
  text-align: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(139, 33, 104);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Russo One', sans-serif;
  z-index: 1;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: blue;
}

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: max-content;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {
  display: block;
}

.show .dropdown-content {
  display:block;
}

/* Style inputs */
input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button */
input[type=submit] {
  background-color: rgb(139, 33, 104);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change submit button color on hover */
input[type=submit]:hover {
  background-color: #a07545;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 60px 0;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
  main {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
  }

  footer {
    padding: 20px;
  }

  footer nav ul li {
    display: block;
    margin: 10px 0;
  }
}






